.category-items-container {
  padding: 1%;
}
.categories-titles {
  display: flex;
  align-items: center;
}
.checkbox-category {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  cursor: pointer;
}
.fields-div {
  opacity: 0;
  padding: 2% 0 4% 7%;
  animation: fadeIn 0.3s linear forwards;
}
.fields-div-out {
  opacity: 1;
  padding: 2% 0 4% 7%;
  animation: fadeOut 0.3s linear forwards;
}
.checkbox-category-item-in {
  margin-right: 5px;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
  cursor: pointer;
}
.checkbox-category-item-out {
  margin-right: 5px;
  opacity: 1;
  animation: fadeOut 0.3s ease-in-out forwards;
  cursor: pointer;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
