.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
.preview-items-container {
  background-color: black;
}
.item-label {
  padding: 5px;
}
.categories {
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}
.categories-out {
  opacity: 1;
  animation: fadeOut 0.3s ease-in-out forwards;
}
/* .io-container {
  height: 5%;
} */
.io {
  color: green;
  width: 7%;
  height: auto;
  box-shadow: 0 0 10px #bf4dec, 0 0 20px rgb(191, 77, 236),
    0 0 40px rgb(191, 77, 236), 0 0 80px #bf4dec;
  border-radius: 50%;
  border: none;
}
.close-io {
  color: white;
  width: 7%;
  height: auto;
  box-shadow: 0 0 10px #bf4dec, 0 0 20px rgb(191, 77, 236),
    0 0 40px rgb(191, 77, 236), 0 0 80px #bf4dec;
  border-radius: 50%;
  border: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
