
@media print {
    * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
    .print {
      display: block;
    }
    .no-print {
      display: none !important;
    }
    .confirmation {
      background-color: white;
    }
    .footer-container {
      display: flex;
      flex-direction: column;
    }
    .custom-menu-items-container {
        margin: auto !important;
        padding: 0 !important;
        /* margin: 0 !important; */
    }
  }
  