.container-select-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid white;
    background-color: black;
    width: 40%;
    margin: auto;
    padding: 2%;
}
.btn-group {
    width: 40%;
    margin: auto;
}