.container-select-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid white; */
    background-color: black;
    /* margin: auto; */
    /* padding: 3% 0 3% 0; */
    /* border-radius: 10px; */
}
.message {
    text-align: center;
}
.btn-group {
    /* width: 40%; */
    margin: auto;
}