@font-face {
  font-family: "Pewter Corroted";
  src: url("../assets/fonts/PewterDEMO-KCFonts.ttf") format("truetype");
  margin: 0;
  padding: 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  padding: 0 1% 0 1%;
  /* font-family: "Pewter Corroted"; */
  /* letter-spacing: 1px; */
  font-weight: 600;
}
.footer-text {
  text-align: center;
  font-size: 14px;
  font-weight: 200;
}
.guy-fieri {
  text-align: center;
}
