.footer-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for effect */
}
.footer-text {
  text-align: center;
}
.guy-fieri {
  text-align: center;
}
