.inputs-container {
  display: flex;
  align-items: baseline;
  
}
/* ----------- Categories ------------ */
.checkbox-category-item-in,
.checkbox-category-item-out,
.checkbox-category,
.select-check,
.create-check,
.select-items,
.consolited-view,
.custom-input,
.show-decoration,
.checkbox {
  cursor: pointer;
  accent-color: black;
  box-shadow: 0 0 10px #bf4dec, 0 0 20px rgb(191, 77, 236),
    0 0 40px rgb(191, 77, 236), 0 0 80px #bf4dec;
}
/* ----------- Preview Tool ------------ */
/* .color-inputs {
  display: inline-block;
  width: 16%;
  height: 2%;
  background: linear-gradient(
    to right,
    red,
    yellow,
    green,
    cyan,
    blue,
    magenta
  );
  border: 1px solid #ddd;
  margin-bottom: 3px;
} */

/* -----------  CustomCategoriesMenu ----------------- */
.menu-color-inputs {
  display: inline-block;
  width: 25px; 
  height: 25px;
  background: linear-gradient(
    to right,
    red,
    yellow,
    green,
    cyan,
    blue,
    magenta
  );
  border-radius: 50%;
  border: 1px solid #ddd;
  /* margin-bottom: 3px; */
}

.inputs {
  opacity: 0;
  cursor: pointer;
}

.input-style {
  cursor: pointer;
  padding: 2px;
  width: 18%;
  height: 30px;
}
