
  .modal-container {
    /* border: solid 1px white; */
    position: fixed; /* Ensures the modal is fixed relative to the viewport */
    top: 0; /* Aligns the modal to the top of the viewport */
    left: 0; /* Aligns the modal to the left of the viewport */
    width: 100%; /* Full width of the viewport */
    height: 100%; /* Full height of the viewport */
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 9999; /* High z-index to ensure it's on top of other elements */
    color: black;
  }
  .window {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 233, 221);
    color: cream;
    padding: 2% 5% 2% 5%;
  }
  /* .message {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  } */
