@font-face {
  font-family: "Pewter Corroded";
  src: url("../assets/fonts/PewterDEMO-KCFonts.ttf") format("truetype");
 line-height: 1;
 padding: 0;
margin: 0;
}
.number {
  font-family: Arial, sans-serif;
}
.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
.item-description {
  flex: 1 1 100%;
  width: 100% !important;
  display: block;
}

.container-final-step {
  display: flex;
 justify-content: center;  /* new */
  gap: 20px;
  width: fit-content;
  height: fit-content;
  /* width: auto; */
  margin: auto;
  background: rgba(22, 19, 19, 0.93);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.confirm-text,
.confirm-title {
  text-align: center;
  color: white;
  margin: auto;
}
.preview-tools-title {
  text-align: center;
  color: white;
  background: rgba(24, 21, 21, 1);
  margin: auto;
  position: sticky;
  top: 0;
}
.top {
  display: flex;
}
.bottom {
  display: flex !important;
}
.menu-items-container {
  font-family: Arial, sans-serif;
  position: relative;
}

.category-title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Pewter Corroded", sans-serif;
  /* display: flex; */
  /* align-items: baseline; */
}
.subtitle {
  text-align: center;
  font-family: "Pewter Corroded", sans-serif;
}
.menu-item-div {
  text-transform: uppercase;
}

.menu-item-joined {
  list-style-type: none;
}
.soup-salad-label,
.soup-salad-description {
  font-family: "Pewter Corroded", sans-serif;

}
.category-list {
  width: 100%;
}
.split-container {
  display: flex;
}
.split-div {
  width: 50%;
}

.menu-item-odd {
  text-align: center;
  list-style-type: none;
}
.menu-item {
  list-style-type: none;
}
.final-step-show {
  display: block;
  margin-bottom: 40px;
}
.final-step-hidden {
  display: none;
}
.prev {
  display: block;
}
@media print {
  .tool-section {
    display: none !important;
  }
  .prev {
    display: none !important;
  }
  .no-ptint {
    display: none !important;
  }
  .final-step-show {
    display: block;
    margin-bottom: 0;
  }
}