.preview-tools-container {
  /* padding: 2% 2% 0 2%; */
  height: 75vh;
  overflow: scroll;
  position: sticky;
  top: 4%;
}
 .selected-image {
  width: 10px;
  height: 10px;
 }
.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.li {
  list-style-type: none;
}
.file-input {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.file-button {
  background-color: white;
  border: none;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.input-style {
  padding: 2px;
  width: 22%;
}