/* .preview-tools-main {
    display: inline-block !important; 
} */
.preview-tools-container {
    /* width: 576px; */
    /* border: 1px solid white; */
    /* margin-top: 55px; */
    padding: 0 10% 0 10%;
    /* height: 70vh; */
    /* position: fixed; */
    overflow: scroll;
    background-color: black;
}
.line {
    display: flex;
    justify-content: space-between;
    margin: 0;
     padding: 0;
}
.li {
    list-style-type: none
}