
@media print {
    * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
    .print {
      display: block;
    }
    .no-print {
      display: none !important;
    }
    .confirmation {
      background-color: white;
    }
    .menu-items-container {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    .footer-container {
      display: flex;
      flex-direction: column;
    }
  }
  